<h1>Wasaaap</h1>
<hr>
<div class="app-mensajes" id="app-mensajes">

    <div class="text-right" *ngFor="let chat of chatService.mensajesChats" >
        <span class="badge badge-primary">Bryan</span>
        <p>{{ chat.mensaje }}</p>
    </div>

    <!-- <div>
        <span class="badge badge-success">Elena</span>
        <p>Mensaje chat</p>
    </div> -->

</div>
<input type="text" name="mensaje" [(ngModel)]="mensaje" class="form-control mt-3"
    placeholder="Enviar mensaje" (keyup.enter)="enviarMensaje()">
